@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sr. No 47/2 Lane No 5<br />
    Hevan Park, Near Ganpati Temple Pune 69<br />
    <abbr title="Phone">P:</abbr>
    7757.83.4953
</address>

<address>
    <strong>Support:</strong> <a href="mailto:rahulsn@almlcloud.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rahulsn@almlcloud.com">Marketing@example.com</a>
</address>
